/* Add custom styles here */
body{
    overflow: hidden;
    font-size:large;
  }
  .logo {
      width: 200px;
      margin-right: 20%;
  }
  
  
  footer{
    margin-top: -35px;
  }
  .footer-p{
      padding-top: 5px;
      color: white;
  }  
      @media ( max-width: 720px)
      { 
        body{
          font-size: smaller;
          overflow:visible;
        }
        footer{
          margin: 0;
        }
          ul
        { 
          list-style-type:none;
        }
      }